/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}

.howManyBoxes {
  display:flex;
  margin: 50px auto;
}

.button-container{
  width:100%;
}

.container {
  margin:50px auto;
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  width:600px;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
